[Unit]
Description = User Service
[Service]
User=roboshop
Environment=REDIS_HOST=172.31.32.225
Environment=MONGO_URL="mongodb://172.31.37.2:27017/users"
ExecStart=/bin/node /home/roboshop/user/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target